<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>LogiMad | Seguimiento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="nav-bar" class="nav-bar-main-block" style="background-color: #00656D;">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                                <ul>
                                    <%if (user == undefined) {%>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                    <% } else { %>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos">Envíos</a>
                                        <ul>
                                            <li class="active"><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                            <li class=""><a href="/ship" title="Enviar">Enviar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                            sesión</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quotation" class="quotation-main-block"
        style="background-image: url('/public/assets/images/bg/best-bg.jpg');">
        <div class="container">
            <div class="section text-center">
                <br>
                <h1 class="section-heading">Comprueba el estado de tú envío</h1>
            </div>
            <div class="quotation-block mt-5">
                <div class="card card-timeline px-2 border-none">
                    <ul class="bs4-order-tracking">
                        <% if (data.id_status  >= 1) { %>
                        <li class="step active">
                            <div><i class="fas fa-user"></i></div> En revisión
                        </li>
                        <% } %>

                        <% if (data.id_status  >= 2) { %>
                        <li class="step active">
                            <div><i class="fas fa-bread-slice"></i></div> En camino
                        </li>
                        <% } else { %>
                        <li class="step">
                            <div><i class="fas fa-bread-slice"></i></div> 
                        </li>
                        <% } %>

                        <% if (data.id_status  >= 3) { %>
                        <li class="step active">
                            <div><i class="fas fa-truck"></i></div> En reparto
                        </li>
                        <% } else { %>
                        <li class="step">
                            <div><i class="fas fa-truck"></i></div>
                        </li>
                        <% } %>

                        <% if (data.id_status  >= 4) { %>
                        <li class="step active">
                            <div><i class="fas fa-birthday-cake"></i></div> Entregado
                        </li>
                        <% } else { %>
                        <li class="step">
                            <div><i class="fas fa-birthday-cake"></i></div> 
                        </li>
                        <% } %>
                    </ul>
                    <% if (data.id_status  == 1) { %>
                    <h5 class="text-center"><b><%= data.status %></b>. Estamos revisando tú envío</h5>
                    <% } %>
                    <% if (data.id_status  == 2) { %>
                    <h5 class="text-center"><b><%= data.status %></b>. Tú paquete está en camino</h5>
                    <% } %>
                    <% if (data.id_status  == 3) { %>
                    <h5 class="text-center"><b><%= data.status %></b>. Tu paquete está en reparto</h5>
                    <% } %>
                    <% if (data.id_status  == 4) { %>
                    <h5 class="text-center"><b><%= data.status %></b>. ¡Ha llegado!</h5>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <div id="clients" class="clients-main-block">
        <div class="container">
            <div class="row">
                <div id="clients-slider" class="clients-slider owl-carousel">
                    <div class="item-clients-img"><img src="/public/assets/images/clients/01.png" class="img-fluid"
                            alt="clients-1">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/02.png" class="img-fluid"
                            alt="clients-2">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/03.png" class="img-fluid"
                            alt="clients-3">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/04.png" class="img-fluid"
                            alt="clients-4">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/05.png" class="img-fluid"
                            alt="clients-4">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- clients end-->
    <footer id="footer" class="footer-main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-block">
                        <p>&copy; 2022 <a href="/" title="LogiMad">LogiMad/a>. Todos los
                                derechos <a href="#" title="">reservados</a>.</p>
                    </div>
                </div>
                <!-- <div class="col-md-6 text-right">
                        <div class="copyright-social">
                            <ul>
                                <li class="policy"><a href="#" title="Privacy Policy">Privacy Policy </a></li>
                                <li><a href="#" title="Terms &amp;Conditions"> Terms &amp; Conditions </a></li>
                                <li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" title="English"><i
                                            class="las la-globe"></i>English<i class="las la-caret-square-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="French">French</a></li>
                                        <li><a href="#" title="Germany">Germany</a></li>
                                        <li><a href="#" title="Urdu">Bengali</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
            </div>
        </div>
    </footer>
    <a href="#top" class="go-top" style="display:block;"><i class="las la-angle-up"></i></a>
    <script src="/public/assets/js/jquery-2.min.js"></script>
    <script src="/public/assets/js/bootstrap.bundle.js"></script>
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <script src="/public/assets/js/smooth-scroll.js"></script>
    <script src="/public/assets/js/menumaker.js"></script>
    <script src="/public/assets/js/waypoints.min.js"></script>
    <script src="/public/assets/js/jquery.counterup.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.sticky.js"></script>
    <script src="/public/assets/js/jquery.slicknav.min.js"></script>
    <script src="/public/assets/js/theme.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (message !== null) { %>
    <script type="text/javascript">
        swal.fire({
            title: '<%= message.title %>',
            text: '<%= message.text %>',
            icon: '<%= message.type %>',
            showConfirmButton: true,
            timer: 6000
        })
    </script>
    <% } %>
</body>

</html>