<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>LogiMad | Seguimiento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="nav-bar" class="nav-bar-main-block" style="background-color: #00656D;">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                              <ul>
                                <%if (user == undefined) {%>
                                <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                <% } else { %>
                                <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                <li class="has-sub">
                                    <span class="submenu-button"></span>
                                    <span class="submenu-button"></span>
                                    <a href="#" title="Envíos">Envíos</a>
                                    <ul>
                                        <li class=""><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                        <li class=""><a href="/ship/address" title="Enviar">Enviar</a></li>
                                    </ul>
                                </li>
                                <li class=" has-sub">
                                    <span class="submenu-button"></span>
                                    <span class="submenu-button"></span>
                                    <a href="#" title="Envíos"><i class="bi bi-person-circle"></i> <%= user.name %></a>
                                    <ul>
                                        <li class="active"><a href="/profile" class="btn btn-danger" title="Ver perfil">Perfil</a></li>
                                        <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                                sesión</a></li>
                                    </ul>
                                </li>
                                <% } %>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quotation" class="quotation-main-block"
        style="background-image: url('/public/assets/images/bg/best-bg.jpg');">
        <div class="container">
            <section style="background-color: #eee;">
                <div class="container py-5">
              
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card mb-4">
                        <div class="card-body text-center">
                          <img src="https://icon-library.com/images/profile-png-icon/profile-png-icon-1.jpg" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                          <h5 class="my-3"><%=user.name%> <%=user.surname%></h5>
                          <div class="d-flex justify-content-center mb-2">
                            <a href="/profile/my-addresses" type="button" class="btn btn-outline-info">Mis direcciones</a>
                            <a href="/track" type="button" class="btn btn-outline-primary ms-1">Mis envíos</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Nombres completos</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%=user.name%> <%=user.surname%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Correo</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%=user.mail%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Móvil</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%=user.phone%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Envíos</p>
                            </div>
                            <div class="col-sm-9">
                              <% if (data.userCount !== undefined) { %>
                              <p class="text-muted mb-0"><%=data.userCount%></p>
                              <% } else { %>
                              <p class="text-muted mb-0" style="color: red;">No tienes envíos</p>
                              <% } %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Direcciones</p>
                            </div>
                            <div class="col-sm-9">
                              <% if (data.userAddresses !== undefined) { %>
                                <p class="text-muted mb-0"><%=data.userAddresses%></p>
                                <% } else { %>
                                <p class="text-muted mb-0" style="color: red;">No tienes direcciones</p>
                                <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
    <div class="footer">


      <footer id="footer" class="footer-main-block" style="display: flex;flex-direction: column;position: relative;top: 196px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="copyright-block">
                          <p>© 2022 <a href="/" title="LogiMad">LogiMad</a>. Todos los
                              derechos <a href="#" title="">reservados</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </div>
    <script src="/public/assets/js/jquery-2.min.js"></script>
    <script src="/public/assets/js/bootstrap.bundle.js"></script>
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <script src="/public/assets/js/smooth-scroll.js"></script>
    <script src="/public/assets/js/menumaker.js"></script>
    <script src="/public/assets/js/waypoints.min.js"></script>
    <script src="/public/assets/js/jquery.counterup.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.sticky.js"></script>
    <script src="/public/assets/js/jquery.slicknav.min.js"></script>
    <script src="/public/assets/js/theme.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (message !== null) { %>
    <script type="text/javascript">
        swal.fire({
            title: '<%= message.title %>',
            text: '<%= message.text %>',
            icon: '<%= message.type %>',
            showConfirmButton: true,
            timer: 6000
        })
    </script>
    <% } %>
</body>

</html>