<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>LogiMad | Seguimiento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="nav-bar" class="nav-bar-main-block" style="background-color: #00656D;">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                                <ul>
                                    <%if (user == undefined) {%>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                    <% } else { %>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos">Envíos</a>
                                        <ul>
                                            <li class="active"><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                            <li class=""><a href="/ship" title="Enviar">Enviar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                            sesión</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quotation" class="quotation-main-block"
        style="background-image: url('/public/assets/images/bg/best-bg.jpg');">
        <div class="container">
            <div class="section text-center">
                <br>
                <h1 class="section-heading">Perfil</h1>
            </div>
            <div class="quotation-block mt-5">
                <div class="card card-timeline px-2 border-none pt-5">
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row container d-flex justify-content-center">
                                <div class="col-xl-6 col-md-12">
                                    <div class="card user-card-full">
                                        <div class="row m-l-0 m-r-0">
                                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                                <div class="card-block text-center text-white">
                                                    <div class="m-b-25">
                                                        <img src="https://i.pinimg.com/originals/3f/94/70/3f9470b34a8e3f526dbdb022f9f19cf7.jpg"
                                                            class="img-radius" alt="User-Profile-Image">
                                                    </div>
                                                    <h6 class="f-w-600">¡Hola, <%= user.name %>!</h6>
                                                    <a class="btn btn-secondary btn-rounded" style="background-color: #00656D;">Ajustes</a>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Correo</p>
                                                            <h6 class="text-muted f-w-400"><%= user.mail %></h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Móvil</p>
                                                            <h6 class="text-muted f-w-400"><%= user.phone %></h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Dirección</p>
                                                            <h6 class="text-muted f-w-400"><%= data.address1 %>, <%= data.city %></h6>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Pedidos</p>
                                                            <h6 class="text-muted f-w-400"><%= data.userCount %></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer-main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-block">
                        <p>&copy; 2022 <a href="/" title="LogiMad">LogiMad</a>. Todos los
                            derechos <a href="#" title="">reservados</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/public/assets/js/jquery-2.min.js"></script>
    <script src="/public/assets/js/bootstrap.bundle.js"></script>
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <script src="/public/assets/js/smooth-scroll.js"></script>
    <script src="/public/assets/js/menumaker.js"></script>
    <script src="/public/assets/js/waypoints.min.js"></script>
    <script src="/public/assets/js/jquery.counterup.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.sticky.js"></script>
    <script src="/public/assets/js/jquery.slicknav.min.js"></script>
    <script src="/public/assets/js/theme.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (message !== null) { %>
    <script type="text/javascript">
        swal.fire({
            title: '<%= message.title %>',
            text: '<%= message.text %>',
            icon: '<%= message.type %>',
            showConfirmButton: true,
            timer: 6000
        })
    </script>
    <% } %>
</body>

</html>